@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

/* Header Styles*/
header {
  width: 100%;
  background-color: rgb(95, 95, 95);
}

nav {
  display: flex;
}

.nav__links {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
  gap: 1rem;
}

.nav__link a {
  text-decoration: none;
  color: rgb(229, 229, 229);
  transition: all 0.3;
}

.nav__link a:hover {
  color: white;
  cursor: pointer;
}